
body { background-color: white;
 display: flex; 
 justify-content: center;
 flex-direction: column;
 align-content: flex-start;
 flex-wrap: wrap;
 flex-shrink: 0;
}

header{
    background-image: url(https://scontent-sea1-1.xx.fbcdn.net/v/t31.18172-8/10473049_1441981596069261_4667000077526024796_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=6e5ad9&_nc_ohc=XB8EZVl6nnoAX-Utc1f&_nc_ht=scontent-sea1-1.xx&oh=ead366b8c0955c0e4d0d8a35b3ce8f9f&oe=60D30DDF);
    margin: 20px;
    outline: red solid 10px;
    height: 400px;
    width: 52%;
    text-align: center;
    
    
}
h1{color: red;

}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
}

#submit{
    padding: 14px 40px ;
    width: 25%; 
    text-align: center;
}

.form{
    display: none;
}

p{
    background-color: white;
    font-size: 50px;
    padding: 14px 40px;
    justify-content: right 100px;
    display: flex;
    margin-top: 0px;
    font: color red;
    
    

}

    







